.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    color: #E5CEB2;
}

.skillsBox{
    display: flex;
    max-width: 75vw;
    flex-direction: column;
    flex-wrap: wrap;
}

.categories{
    display: flex;
    justify-content: center;
    align-items: space-between;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.categoryBox{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    font-size: 24px;
}

.skillCategory{
    color: #8C2B2B; 
    font-family: "Imprima"; 
    font-size: 28px;
    padding-bottom: 1rem;
}

.skillsTitle{
    font-size: 96px;
    padding-left: 4rem;
    font-family: "Inknut Antiqua";
    height: 10rem;
}

.skillsList{
    font-family: "Imprima";
    font-size: 24px;
}