.about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.aboutTitle{
    font-size: 4rem;
    font-family: "Inknut Antiqua", sans-serif;
    color: #E5CEB2;
    height: 9rem;
}
.content{
    font-size: 1.5rem;
    padding: 1rem;
    color: #E5CEB2;
    padding-bottom: 2rem;
    font-family: "Imprima", sans-serif;
}

.selfie{
    object-fit: cover;
    height: 600px;
    width: 450px;
    padding: 5rem;
}

.text{
    width:35vw;
    min-width: 300px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
}

.resumeTxt{
    font-family: "Inika", sans-serif;
}

.btnResume{
    background-color: #E5CEB2;
    color: #372523;
    cursor: pointer;
    padding: 0.75rem;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    align-self: flex-end;
    text-decoration-line: none;
    transition: background-color 250ms;
}

.btnResume:hover{
    background-color: #c5ada4;
}

.btnResume:active{
    background-color: #B38574;
}

@media (max-width: 1300px) {
    .text{
        padding-bottom: 2rem;
    }
    .selfie{
        padding-top: 2rem;
    }
}

@media (max-width: 950px) {
    .aboutTitle{
        font-size: 3rem;
        height: 6rem;
    }
    .content{
        font-size: 1rem;
    }
    .resumeTxt{
        font-size: 0.75rem;
    }
    .btnResume{
        padding: 0.75rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
}

@media (max-width: 500px) {
    .aboutTitle{
        font-size: 2rem;
        height: 4rem;
        padding-left: 1rem;
    }
    .content{
        font-size: 0.65rem;
    }
    .resumeTxt{
        font-size: 0.5rem;
    }
    .btnResume{
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        align-self:center;
    }
    .selfie{
        height: 440px;
        width: 330px;
    }
}