
.heroBanner{
    background-color: #372523;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 36px; 
    margin-bottom: -212px;
    z-index: 2000;
    position: relative;
    flex-wrap: wrap;
    row-gap: 5vw;
    column-gap: 5vw;
}

.heroBannerLogo{
    width: 160px;
}

.navBox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navItem{
    background-color: #372523;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    width: 48px;
    text-align: center;
    color: #E5CEB2;
    transition: background-color 250ms;
    text-decoration-line: none;
    font-family: "Inika", sans-serif;
}
.navItem:hover{
    background-color: #8C2B2B;
}
.navItem:active{
    background-color: #b04949;
    transition: background-color 100ms;
}

.MuiMobileStepper-root{
    background-color: transparent !important;
    bottom: 75px;
    position: relative;
}

.MuiMobileStepper-dotActive{
    background-color: #8C2B2B !important; 
}

@media (max-width: 950px) {
    .navbar{
        top: 0; 
        margin-bottom: 0;
        flex-direction: column;
    }
    .heroBannerLogo{
        width: 120px;
    }
    .navItem{
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        width: 48px;
        font-size: 14px;
    }
}
@media (max-height: 600px) {
    .navbar{
        top: 0; 
        margin-bottom: 0;
        flex-direction: column;
    }
    .heroBannerLogo{
        width: 120px;
    }
}

@media (max-width: 600px) {
    .heroBannerLogo{
        width: 80px;
    }
    .navItem{
        padding: 0.5rem 1rem 0.5rem 1rem;
        width: 7vw;
        font-size: 12px;
    }
}